# Indentation:
IndentWidth: 4
TabWidth: 4
# Uncomment if you do not want two spaced between public: or private:
# AccessModifierOffset: -2

# Do not wrap any lines; it's up to the programmer.
ColumnLimit: 0

# Newlines
BreakBeforeBraces: Allman
AlwaysBreakTemplateDeclarations: true

SpacesInParentheses: false
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

PointerAlignment: Left

SortIncludes: true
SortUsingDeclarations: true

AlignAfterOpenBracket: Align
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true
# AlignConsecutiveAssignments: true
# AlignConsecutiveDeclarations: true
SpacesBeforeTrailingComments: 1
